.cta {
  background-color: $cheese-yellow;
  border: 0;
  border-radius: 25px;
  padding: 1rem 2rem;
  box-shadow: 1px 1px rgba($color: #000000, $alpha: 0.3);
  transition: all .2s ease-out;

  &:hover, &:focus {
    transform: scale(1.1);
    background-color: darken($cheese-yellow, 4%);
  }
  &:active {
    box-shadow: inset 0 0 0.5rem #124,
                inset 0 0.5rem 1rem rgba(0, 0, 0, 0.4)
  }
}

.cta a {
  font-family: $heading-font;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin: -1.4rem 0;
}

.cta a:visited {
  color: $dark-purple;
}

.cta img {
  height: 1.7rem;
  width: 1.7rem;
}

.cta p {
  font-size: 1.3rem;
}

.cta-sm {
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  right: 2em;
  align-self: flex-end;
  padding: .7rem 1rem;
  margin-bottom: 0 !important;
  border-radius: 15px;
  font-size: .8rem;
  font-weight: bold;

  & a {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .cta {
    margin-bottom: 3rem;
  }
  .cta a {
    padding: 0;
  }

  .cta-sm {
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
  }
}