@import 'globals';
@import 'angled';

#deals {
  background-color: $dark-purple;
  color: $deal-link;
  position: relative;
  z-index: 1;
}

#deals:after {
  @include angled(-4deg)
}

#deals .container {
  margin-top: -2rem;
  padding-bottom: 5rem;
}
#deals h1 {
  color: $lavender-blue;
  padding-top: 17rem;
  padding-bottom: 2rem;
}

#deals-anchor {
  content: '';
  position: absolute;
  top: 25%;
  left: 12%;
}

/**********************Splide Slider***********************/
button.splide__arrow {
  width: 3rem;
  height: 3rem;
}
/**********************************************************/

/************************** Deal **************************/
#deals {

  & .deal {
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding-bottom: 4rem;
  height: 30rem;

    & .deal__image {
      width: 100%;
      background-color: #ffffff;
      align-items: center;
      
      & img {
      width: 18rem;
      height: 18rem;
      }

      & small {
        color: rgba($color: $dark-purple, $alpha: 0.5);
        align-self: start;
        padding-left: .3rem;
      }
    }
    
    & .deal__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & small {
        font-weight: bold;
      }
      
      & a:link {
        color: $deal-link;
      }
      & a:visited {
        color: $deal-link-visited;
      }
      & a:hover {
        color: $deal-link-hover;
      }
    }
  }
}

/************************** Media Queries **************************/

@media (min-aspect-ratio: 16/12) {
  #deals-anchor {
    top: 33%;
  }

  #deals h1 {
    padding-top: 22rem;
  }
}

@media (max-width: 768px) {
  #deals h1 {
    padding-top: 10rem;
  }
}

@media (max-width: 580px) { 
  #deals {
    padding-left: 3rem;
    padding-right: 3rem;
  } 

  button.splide__arrow {
    width: 2rem;
    height: 2rem;
  }
}