@import 'globals';

.footer {
  background-color: $lavender-blue;
}

.footer .container {
  margin-top: -3rem;
  padding-bottom: 3rem;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: end;
}

.footer h5 {
  font-size: 1.4rem;
  letter-spacing: .01rem;
  margin-bottom: 1rem;
}

.email a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.email img {
  width: 2rem;
  height: 2rem;
}
.social-media {
  justify-self: center;
  display: flex;
  gap: 2rem;

  a {
    transition: all .4s ease-out;

    &:hover {
      transform: scale(1.3);
    }
  }
}

.social-media img {
  width: 1.5rem;
  height: 1.5rem;
}

.links a {
  display: inline-block;
  margin-right: 3rem;
  // font-size: 1.2rem;
  text-transform: uppercase;

  // &:visited {
  //   color: $dark-purple;
  // }
  // &:hover {
  //   color: $link-hover;
  // }
}

.links .title a {
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 2rem;
}

.copyright small {
  letter-spacing: .06rem;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .footer .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .links, .email {
    justify-self: start;
  }
  .email {
    margin-top: -4rem;
    & a {
      padding-left: 0;
    }
  }
  .links a {
    display: block;
    margin: 0;
    padding: 1rem;
    padding-left: 0;
  }
  .links .title a {
    margin-bottom: 1rem;
  }
  .copyright {
    order: 4;
  }
  .social-media {
    order: 3;
    gap: 4rem;
  }

  .social-media img {
    width: 1.8rem;
    height: 1.8rem;
  }
}