@import 'globals';
@import 'angled';

.front-page {
  background-color: $pricelee-blue;
  // min-height: 90vh;
  position: relative;
  z-index: 2;
}

/* where the magic happens */
.front-page:after {
  @include angled(-8deg);
}


// @media (max-aspect-ratio: 8/3) {
@media (max-width: 768px) {
  .front-page {
    min-height: 50vh;
  }
}