@import 'globals';
@import 'angled';

.front-page {
  background-color: $pricelee-blue;
  min-height: 70vh;
  position: relative;
  // overflow: visible;
  z-index: 2;
}

/* where the magic happens */
.front-page:after {
  @include angled(-8deg);
}


@media (max-aspect-ratio: 8/3) {
  .front-page {
    min-height: 50%;
  }
}