.hero {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 9em;
  // margin-bottom: -4rem;
}

.teaser {
  font-size: 2.2rem;
}

.headline {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .15em;
  line-height: 10px;
  font-weight: lighter;
  margin-bottom: 0;
}
.phrase {
  font-family: $heading-font;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}

.hl {
  color: $cheese-yellow;
  padding: 0 .1em;
  text-shadow: 3px 3px rgba($color: #000000, $alpha: 0.3)
}

@media (min-aspect-ratio: 16/12) and (min-height: 767px) {
  .hero {
    margin-top: calc(2vh + 8rem);
  }
}

@media (max-width: 768px) {
  .hero {
    margin-top: 6rem;
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }
}