@import 'globals';

.nav-menu {
  // border: 1px solid black;
  display: flex;
  align-items: center;

  & > li {
    padding: .8rem 1.4rem;
    text-transform: uppercase;
   
    > a {
      display: inline-block;
      transition: transform 0.2s ease-out;
    
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
}

/************************** Media Queries **************************/

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    background-color: transparent;
    transition: all .5s linear;
    
    & .navbar__drawer {
      padding-top: 6rem;
      transform: translateX(-100%);
      transition: all .4s linear;
    }

    &.open {
      transform: translateX(0);
      background-color: rgba($color: $dark-purple, $alpha: 0.8);
      backdrop-filter: blur(5px);

      & .navbar__drawer {
        transform: translateX(0);
      }
    }

    & .nav-menu {
      display: block;
      margin: 0;

      li {
        padding: 0;
        // background-image: linear-gradient(to bottom, #000000, darken($dark-purple, 3%));
        // box-shadow: inset 2px 2px 1rem rgba($color: #000000, $alpha: 0.3);
        opacity: 0;
        transform: translateX(-2em);
        transition: transform 0.5s cubic-bezier(0.2, 0.9, 0.3, 1.3),
                    opacity 0.4s linear;

      }
      a {
        display: block;
        padding: 1.5rem 6rem;
        letter-spacing: .12rem;
        text-align: center;

        &:link {
          color: $deal-link;
        }
        &:visited {
          color: $deal-link-visited;
        }
        &:active {
          color: $deal-link-hover;
        }
      }
    }
  }

  
    /*** Animation ***/
    .navbar.open { 
      & .nav-menu li {
        opacity: 1;
        transform: translateX(0);
        border-bottom: .2px solid rgba($color: $cheese-yellow, $alpha: 0.5);
      }
      & .nav-menu li:nth-child(1) {
        border-top: .2px solid rgba($color: $cheese-yellow, $alpha: 0.5);
      }
      @for $i from 1 to 4 {
        & .nav-menu li:nth-child(#{$i}) {
          transition-delay: (0.2s * $i) - 0.1s;
        }
      }
    }

}