@import 'globals';

.pagination-wrapper {
  display: flex;
  justify-content: center;
}
.pagination {
  overflow: hidden;
  font-size: .8rem;
  font-weight: 600;
  border: 2px solid $cheese-yellow;
  border-radius: 15px;
  box-shadow: 1px 1px rgba($color: black, $alpha: 0.3);
  display: flex;
  justify-content: space-around;

  & > li {
    cursor: pointer;

    &:not(:last-child) {
      border-right: 1px solid $cheese-yellow;
    }

    &.selected {
      background-color: lighten($color: $cheese-yellow, $amount: 5%);
    }
    &:hover {
      background-color: lighten($color: $cheese-yellow, $amount: 18%);
    }

    & a {
      display: inline-block;
      padding: .5rem 1rem;
    }
  }  
}

@media (max-width: 768px) {
  .pagination {
    margin: 2rem 0;
  }
}