@import "globals";

#search {
  min-height: 100vh;
  background-color: $lavender-blue;
  color: $dark-purple;

  & main .container__inner {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto minmax(13rem, 1fr);
    row-gap: 2rem;
  }
}

#search .footer {
  background-color: transparent;
  margin-top: 5rem;
}

@media (max-width: 768px) {
  #search {
    & main .container__inner {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;

      & > * {
        grid-column: 1 / -1;
      }
    }
  }
}
