@import "globals";

#tracker {
  min-height: 100vh;
  background-color: $lavender-blue;
  color: $dark-purple;

  & .items-wrapper {
    padding-top: 4rem;
    position: relative;
    width: 60%;
    min-height: 60vh;

    & .not-received {
       & .cta-sm {
        position: static;
        margin-top: 3rem;
       }
    }

    & .item {
      color: whitesmoke;
      background-color: rgba(black, 0.5);
      border-radius: 15px;
      border: 1px solid $cheese-yellow;
      box-shadow: 2px 2px rgba($color: black, $alpha: 0.3);

      & small {
        display: block;
        margin-bottom: .7rem;

        & span {
          font-weight: normal;
        }
      }

      & #edit {
        right: 7rem;
      }
    }
  }
}

@media (max-width: 768px) {
  #tracker {

    & .items-wrapper {
      width: 100%;

      & .item {

       & #edit {
          right: 8rem;
        }
      }
    }
  }
}