@import 'globals';

.user-area {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 1rem;


  &>li {
    border: 2px solid $cheese-yellow;
    box-shadow: 1px 1px rgba($color: #000000, $alpha: 0.3);
    text-shadow: 1px 1px rgba($color: #000000, $alpha: 0.5)
  }
}

#login, #logout {
  text-transform: uppercase;
  letter-spacing: .02rem;
  padding: .2rem 1rem;
  border: 2px solid $cheese-yellow;
  border-radius: 500px;
  box-shadow: 1px 1px rgba($color: #000000, $alpha: 0.3);
  text-shadow: 1px 1px rgba($color: #000000, $alpha: 0.5);
  transition: all .2s ease-out;

  &:hover, &:focus {
    transform: scale(1.1);
  }

  &:active {
    box-shadow: inset 0 0 0.3rem #124,
                inset 0 0.2rem .3rem rgba(0, 0, 0, 0.4)
  }
}
#login a:link,
#login a:hover,
#login a:visited,
#logout a:link,
#logout a:hover,
#logout a:visited {
  color: $cheese-yellow;
  font-weight: bold;
}

#user {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

@media (max-width: 768px) {
  #login, #logout {
    padding: .3rem 0;
    // padding-right: 0;
  }
}